.Header {
  align-items: flex-end;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.Header-title {
  color: white;
  margin: 0;
}

.Header-title-emoji {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.Header-link {
  text-decoration: none;
}

.Header-navButton {
  display: inline;
  color: grey;
  cursor: pointer;
}

.Header-navButton:hover {
  color: white;
}

.Header-productCount {
  font-size: 0.7rem;
  font-style: italic;
  display: block;
}
