.CartItem {
  display: flex;
  align-items: center;
}

.CartItem-detail-imageContainer,
.CartItem-detail-number {
  flex: 1;
}
.CartItem-detail-title {
  flex: 4;
}

.CartItem-detail-image {
  width: 80px;
  max-height: 80px;
}
